<!--<div class="card" [class.border-primary]="isSelectedBlock()">-->
<div class="card" [class.border-primary]="isSelectedRestaurant()">
  <div class="card-body">
    <h5 class="card-title">{{ restaurant.name }} <span class="badge badge-primary">{{ restaurant.persons.length }} pers</span></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ restaurant.type }}</h6>
  </div>

   <ul class="list-group list-group-flush">
    <li class="list-group-item">
    <span class="">{{ restaurant.descr }}</span>
      <br>
    </li>

    <!--<li class="list-group-item">
      <a href="#" class="btn btn-primary">Je veux y aller</a>
    </li>-->
  </ul>

  <!-- <div class="card-body"> -->
    <!-- <span class="card-link" *ngIf="!blockHasTx()">Block has no transactions</span> -->
    <!-- <span class="card-link" *ngIf="blockHasTx()">Contains {{block.transactions.length}} transactions</span> -->
  <!-- </div> --> 
</div>