<div class="container">
    <h1>Restaurants pour ce midi</h1>
    <div class="container" *ngIf="restaurants.length === 0">
        <p>Encore aucun restaurant proposé. Soyez le premier !</p>
        <button routerLink="/new/restaurant" class="btn btn-outline-success" type="button"
            *ngIf="user.isLogon === true">Proposer un restaurant</button>
    </div>
    <p *ngIf="restaurants.length > 0">Les restaurants déjà selectionnés pour ce midi. Cliquez sur un bloc pour afficher
        les personnes voulant y aller</p>
</div>

<div class="container">
    <app-restaurants-view *ngFor="let restaurant of restaurants" [restaurant]="restaurant"
        (click)="showPersons(restaurant)" [selectedRestaurant]="selectedRestaurant">
    </app-restaurants-view>
</div>

<br><br>

<div class="container" *ngIf="restaurants.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1 *ngIf="selectedRestaurant.persons.length === 0" class="float-left">Soyez le premier !
                </h1>
                <h1 *ngIf="selectedRestaurant.persons.length > 1" class="float-left">
                    {{selectedRestaurant.persons.length }} personnes veulent y aller
                </h1>
                <h1 *ngIf="selectedRestaurant.persons.length === 1" class="float-left">
                    {{selectedRestaurant.persons.length }} personne veut y aller
                </h1>
            </div>
            <div class="col" *ngIf="user.isLogon === true && user.restaurantVotedId !== selectedRestaurant.id">
                <form class="form-inline float-right">

                    <div class="form-group">
                        <label class="sr-only" for="comment">Commentaire</label>
                        <input type="text" class="form-control mr-sm-2" id="comment"
                            placeholder="Je laisse un commentaire">

                        <button class="btn btn-outline-success" type="button" aria-expanded="false"
                            aria-controls="collapseExample"
                            *ngIf="user.isLogon === true && user.restaurantVotedId !== selectedRestaurant.id"
                            (click)="vote()">
                            Et j'y vais !
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <app-person-view [persons]="selectedRestaurantPersons">
        </app-person-view>


    </div>