<p *ngIf="persons.length === 0">Personne n'a encore voté</p>

<div class="container">
<table class="table table-hover" *ngIf="persons.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Commentaire</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let person of persons; index as index">
      <td>{{index + 1}}</td>
      <td>
        {{person.name}}
      </td>
      <td>
        {{person.comment}}<br>
      </td>
    </tr>
  </tbody>
</table>
</div>